<div>
  <div class="bg-gray-300 rounded-full h-4 w-full relative overflow-hidden">
    <div
      class="h-full absolute left-0 top-0 text-xs text-white px-2 flex items-center"
      [class.bg-blue-500]="!progress.isCompleted"
      [class.bg-green-500]="progress.isCompleted && !progress.isError"
      [class.bg-red-500]="progress.isCompleted && progress.isError"
      [style.width]="progress.percentDone + '%'"
    >
      {{
        !progress.isCompleted
          ? progress.percentDone + "%"
          : progress.isError
          ? "An error occured"
          : "Completed!"
      }}
    </div>
  </div>
</div>
